<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>House | Admin Create Product</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- plugins:css -->
        <link rel="stylesheet" th:href="@{/admin/assets/vendors/mdi/css/materialdesignicons.min.css}">
        <link rel="stylesheet" th:href="@{/admin/assets/vendors/css/vendor.bundle.base.css}">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <link rel="stylesheet" th:href="@{/admin/assets/vendors/select2/select2.min.css}">
        <link rel="stylesheet" th:href="@{/admin/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css}">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" th:href="@{/admin/assets/css/style.css}">
        <link rel="stylesheet" th:href="@{/admin/assets/css/error.css}">


        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- Summernote CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet">

        <!-- Bootstrap JS (Popper.js included) -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

        <!-- Summernote JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>


        <style>
            .product1, .product2 {
                display: flex;
                flex-wrap: wrap;
            }

            .product1 .col-sm-6,
            .product2 .col-sm-6 {
                width: 50%;
                padding-right: 15px; /* Thêm khoảng cách giữa các cột */
                box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước ngoài cùng của phần tử */
            }
            .content-wrapper {
                background: #e6ffe6;
                color: #2f567a;
            }
            #name.form-control {
                border-color:#eee;
                background-color: #ffffff;
                box-shadow:none;
                height: 50px;
                margin-top: 15px;
                border-radius: 0;
                font-size: 16px;
                border-radius: 5px;
                color: #2f567a
            }
            .page-title {
                color: #2f567a;
                font-size: 1.125rem;
                margin-bottom: 0;
            }
            .contact_1l {
                background-color: #f9f9f9; /* Màu nền nhẹ nhàng */
                padding: 20px; /* Khoảng cách nội dung với viền ngoài */
                border: 1px solid #ddd; /* Viền bo tròn và màu sắc nhạt */
                border-radius: 5px; /* Độ cong của viền */
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ để nổi bật */
            }
            #successMessage {
                display: none;
                padding: 12px 20px; /* Tăng độ dày và padding để nổi bật hơn */
                background-color: #DFF0D8; /* Sử dụng màu nền xanh nhạt để làm nổi bật */
                border: 1px solid #3D8B40; /* Viền nhẹ màu xanh lá cây */
                color: #ff3333; /* Màu chữ xanh lá cây tương phản với màu nền */
                margin-bottom: 15px; /* Tăng khoảng cách dưới */
                border-radius: 5px; /* Bo góc để làm mềm hơn */
                text-align: center; /* Căn giữa nội dung */
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
            }
            .error-message {
                display: block;
                margin-top: 5px; /* Để cách thông báo lỗi với input một khoảng */
            }

            .error-message.hide {
                display: none;
            }

            @media (max-width: 768px) {
                .product1 .col-sm-6,
                .product2 .col-sm-6 {
                    width: 100%;
                    padding-right: 0;
                }
            }

        </style>
    </head>
    <body>
        <div class="container-scroller">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                    <a class="sidebar-brand brand-logo" th:href="@{/admin}"><img alt="abc" th:src="@{/home/img/logoP2.jpg}" style="width: 50%; border-radius: 50%"></a>
                    <a class="sidebar-brand brand-logo-mini" th:href="@{/admin}"><img alt="abc" th:src="@{/home/img/logoP2.jpg}" style="width: 50%; border-radius: 50%"></a>
                </div>
                <ul class="nav">
                    <li class="nav-item nav-category">
                        <span class="nav-link">Navigation</span>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" th:href="@{/admin}">
                            <span class="menu-icon">
                                <img th:src="@{/admin/assets/images/speedometer.png}" height="35px"/>
                            </span>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li><br>

                    <li class="nav-item menu-items">
                        <a class="nav-link" th:href="@{/listblog}">
                            <span class="menu-icon">
                                <img th:src="@{/admin/assets/images/blog-template.png}" height="38px"/>
                            </span>
                            <span class="menu-title">News</span>
                        </a>
                    </li><br>
                    <li class="nav-item menu-items">
                        <a class="nav-link" th:href="@{/product}">
                            <span class="menu-icon">
                                <img th:src="@{/admin/assets/images/dairy-products.png}" height="38px"/>
                            </span>
                            <span class="menu-title">Product</span>
                        </a>
                    </li><br>
                    <li class="nav-item menu-items">
                        <a class="nav-link" th:href="@{/category}">
                            <span class="menu-icon">
                                <img th:src="@{/admin/assets/images/categories.png}" height="38px"/>
                            </span>
                            <span class="menu-title">Category</span>
                        </a>
                    </li><br>
                    <li class="nav-item menu-items">
                        <a class="nav-link" th:href="@{/comment}">
                            <span class="menu-icon">
                                <img th:src="@{/admin/assets/images/comment.png}" height="38px"/>
                            </span>
                            <span class="menu-title">Comment</span>
                        </a>
                    </li><br>
                    <li class="nav-item menu-items">
                        <a class="nav-link" th:href="@{/admin/feedbacks/all}">
                            <span class="menu-icon">
                                <img th:src="@{/admin/assets/images/hinh24.png}" height="38px"/>
                            </span>
                            <span class="menu-title">Feedback</span>
                        </a>
                    </li><br>

                    <li class="nav-item menu-items">
                        <a class="nav-link" th:href="@{/order}">
                            <span class="menu-icon">
                                <img th:src="@{/admin/assets/images/ordering.png}" height="38px"/>
                            </span>
                            <span class="menu-title">Order</span>
                        </a>
                    </li><br>
                    <li class="nav-item menu-items">
                        <a class="nav-link" th:href="@{/listuser}">
                            <span class="menu-icon">
                                <img th:src="@{/admin/assets/images/office.png}" height="38px"/>
                            </span>
                            <span class="menu-title">User Management</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_navbar.html -->
                <nav class="navbar p-0 fixed-top d-flex flex-row">
                    <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="@{/admin/assets/images/logo-mini.svg}"
                                                                                       alt="logo" /></a>
                    </div>
                    <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                            <span class="mdi mdi-menu"></span>
                        </button>
                        <ul class="navbar-nav w-100">
                            <li class="nav-item w-100">
                                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                                    <input type="text" class="form-control" placeholder="Search products">
                                </form>
                            </li>
                        </ul>
                        <ul class="navbar-nav navbar-nav-right">
                            <li class="nav-item dropdown">
                                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                                    <div class="navbar-profile">
                                        <img class="img-xs rounded-circle" th:src="@{/admin/assets/images/faces/face15.jpg}" alt="">
                                        <p class="mb-0 d-none d-sm-block navbar-profile-name" th:text="${username}"></p>
                                        <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                     aria-labelledby="profileDropdown">
                                    <h6 class="p-3 mb-0">Profile</h6>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-dark rounded-circle">
                                                <i class="mdi mdi-settings text-success"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content">
                                            <p class="preview-subject mb-1">Settings</p>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item preview-item" th:href="@{/logout}">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-dark rounded-circle">
                                                <i class="mdi mdi-logout text-danger"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content">
                                            <p class="preview-subject mb-1">Log out</p>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <p class="p-3 mb-0 text-center">Advanced settings</p>
                                </div>
                            </li>
                        </ul>
                        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                                data-toggle="offcanvas">
                            <span class="mdi mdi-format-line-spacing"></span>
                        </button>
                    </div>
                </nav>
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="page-header">
                            <h3 class="page-title"> Product Create</h3>
                        </div>
                        <div th:if="${param.productname}">
                            <div class="alert alert-info" style="background-color: #4dff4d; color: white;padding: 15px;margin-bottom: 20px; border-radius: 5px;">Your ProductName already exists, please register another ProductName!!!</div>
                        </div>
                        <div class="row">
                            <div class="contact_1  clearfix">
                                <div class="col-sm-12">
                                    <div class="contact_1lm clearfix">
                                        <div class="contact_1l clearfix">

                                            <div class="container">
                                                <form class="forms-sample" id="myForm" th:action="@{/createproduct}" th:object="${product}" method="post" enctype="multipart/form-data">
                                                    <div class="product1 clearfix">
                                                        <div class="col-sm-6 space_left">
                                                            <h5>Product Name <span class="col_3">*</span></h5>
                                                            <input type="text" class="form-control" id="name" th:field="*{productname}" placeholder="Product Name"><br/>
                                                            <div class="alert alert-danger error-message" th:if="${param.name != null}">
                                                                <p>Product name cannot be blank.</p>
                                                            </div>

                                                        </div>

                                                        <div class="col-sm-6 space_left">
                                                            <h5>Price Sale <span class="col_3">*</span></h5>
                                                            <input type="text" class="form-control" id="name" th:field="*{sale}" placeholder="Price Sale">
                                                            <div class="alert alert-danger error-message" th:if="${param.sale != null}">
                                                                <p>Price must be greater than or equal to 0.</p>
                                                            </div>
                                                            <div class="alert alert-danger error-message" th:if="${param.saleprice != null}">
                                                                <p>Sale price must be less than original price.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 space_left">
                                                            <h5>Date <span class="col_3">*</span></h5>
                                                            <input type="date" class="form-control" id="name" th:field="*{date}" placeholder="Date">
                                                            <div class="alert alert-danger error-message" th:if="${param.data != null}">
                                                                <p>The day is not to be looked afterg.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 space_left">
                                                            <h5>Price <span class="col_3">*</span></h5>
                                                            <input type="text" class="form-control" id="name" th:field="*{price}" placeholder="Price">
                                                            <div class="alert alert-danger error-message" th:if="${param.price != null}">
                                                                <p>Price must be greater than 0.</p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="product1 clearfix">
                                                        <div class="col-sm-6 space_left">
                                                            <h5>Quantity <span class="col_3">*</span></h5>
                                                            <input type="text" class="form-control" id="name" th:field="*{quantity}" placeholder="Quantity">
                                                            <div class="alert alert-danger error-message" th:if="${param.quantity != null}">
                                                                <p>Quantity must be greater than 0.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 space_left">
                                                            <h5>Number of Units <span class="col_3">*</span></h5>
                                                             <select class="form-control" id="name" th:field="*{units}">
                                                                <option value="Ground">Ground</option>
                                                                <option value="Packaged">Packaged</option>
                                                                 <option value="Box form">Box form</option>
                                                            </select>
                                                           
                                                             <div id="unitsError" class="error-message"></div>
                                                        </div>

                                                        <div class="col-sm-6 space_left">
                                                            <h5>Status <span class="col_3">*</span></h5>
                                                            <select class="form-control" id="name" th:field="*{status}">
                                                                <option value="New">New</option>
                                                                <option value="Sale">Sale</option>
                                                            </select>
                                                            <div id="statusError" class="error-message"></div>
                                                        </div>
                                                        <div class="col-sm-6 space_left">
                                                            <h5>Active <span class="col_3">*</span></h5>
                                                            <select class="form-control" id="name" th:field="*{active}">
                                                                <option value="Out of stock">Out of stock</option>
                                                                <option value="Stocking">Stocking</option>

                                                            </select>
                                                            <div id="statusError" class="error-message"></div>
                                                        </div>
                                                        <div class="col-sm-6 space_left">
                                                            <h5>Category <span class="col_3">*</span></h5>
                                                            <select class="form-control" id="name" th:field="*{categoryid.id}">
                                                                <option value="">---Select---</option>
                                                                <option th:each="c: ${category}" th:if="${c.status == 'Activated'}" th:value="${c.id}" th:text="${c.categoryname}"></option>
                                                            </select>
                                                            <div id="categoryError" class="error-message"></div>
                                                        </div>

                                                        <div class="col-sm-6 space_left">
                                                            <h5>File upload <span class="col_3">*</span></h5>
                                                            <input type="file" name="img[]" id="fileInput" th:field="*{image}" class="file-upload-default">
                                                            <div class="input-group col-xs-12">
                                                                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                                                                <span class="input-group-append">
                                                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                                                </span>
                                                            </div>
                                                            <div id="imageError" class="error-message"></div>
                                                        </div>

                                                    </div>
                                                    <div class="product3 clearfix">
                                                        <div class="col-sm-12 space_left">
                                                            <h5>Description <span class="col_3">*</span></h5>
                                                            <div class="textarea-container ">
                                                                <textarea class="form-control summernote" id="description" th:field="*{description}" placeholder="Description" style="height: 100px;"></textarea>
                                                            </div>
                                                            <div class="alert alert-danger error-message" th:if="${param.description != null}">
                                                                <p>Description cannot be left blank.</p>
                                                            </div>
                                                        </div>

                                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                                        <a class="btn btn-dark" th:href="@{/product}">Cancel</a>
                                                    </div>

                                                </form>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Coffee Management System 2024</span>
                        </div>
                    </footer>
                    <!-- partial -->
                </div>

                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>

        <script>
            document.getElementById('myForm').addEventListener('submit', function (event) {
                var productName = document.getElementById('exampleInputName1').value.trim();
                var priceSale = document.getElementById('exampleInputPriceSale').value.trim();
                var price = document.getElementById('exampleInputPrice').value.trim();
                var date = document.getElementById('exampleInputDate').value.trim();
                var quantity = document.getElementById('exampleInputQuantity').value.trim();
                var units = document.getElementById('exampleInputUnits').value.trim();
                var description = document.getElementById('exampleInputDescription').value.trim();
                var status = document.getElementById('exampleInputStatus').value.trim();
                var category = document.getElementById('exampleInputCategory').value.trim();
                var image = document.getElementById('fileInput').value.trim();

                var productNameError = document.getElementById('productNameError');
                var priceSaleError = document.getElementById('priceSaleError');
                var priceError = document.getElementById('priceError');
                var dateError = document.getElementById('dateError');
                var quantityError = document.getElementById('quantityError');
                var unitsError = document.getElementById('unitsError');
                var descriptionError = document.getElementById('descriptionError');
                var statusError = document.getElementById('statusError');
                var categoryError = document.getElementById('categoryError');
                var imageError = document.getElementById('imageError');

                var isValid = true;

                // Validation for Product Name
                if (productName === '') {
                    productNameError.innerHTML = 'Please enter a product name.';
                    productNameError.style.display = 'block';
                    isValid = false;
                } else {
                    productNameError.innerHTML = '';
                    productNameError.style.display = 'none';
                }

                // Validation for Price Sale
                if (priceSale === '') {
                    priceSaleError.innerHTML = 'Please enter the price sale.';
                    priceSaleError.style.display = 'block';
                    isValid = false;
                } else if (isNaN(parseFloat(priceSale))) {
                    priceSaleError.innerHTML = 'Please enter a valid price sale.';
                    priceSaleError.style.display = 'block';
                    isValid = false;
                } else if (parseFloat(priceSale) < 0) {
                    priceError.innerHTML = 'Please enter a price sale > 0.';
                    priceError.style.display = 'block';
                    isValid = false;
                } else if (parseFloat(priceSale) >= parseFloat(price)) {
                    priceSaleError.innerHTML = 'Price sale must be less than the price.';
                    priceSaleError.style.display = 'block';
                    isValid = false;
                } else {
                    priceSaleError.innerHTML = '';
                    priceSaleError.style.display = 'none';
                }

                // Validation for Date
                if (date === '') {
                    dateError.innerHTML = 'Please enter a date.';
                    dateError.style.display = 'block';
                    isValid = false;
                } else {
                    dateError.innerHTML = '';
                    dateError.style.display = 'none';
                }

                // Validation for Price
                if (price === '' || isNaN(parseFloat(price))) {
                    priceError.innerHTML = 'Please enter a valid price.';
                    priceError.style.display = 'block';
                    isValid = false;
                } else if (parseFloat(price) < 0) {
                    priceError.innerHTML = 'Please enter a price > 0.';
                    priceError.style.display = 'block';
                    isValid = false;
                } else {
                    priceError.innerHTML = '';
                    priceError.style.display = 'none';
                }



                // Validation for Quantity
                if (quantity === '' || isNaN(parseInt(quantity))) {
                    quantityError.innerHTML = 'Please enter a valid quantity.';
                    quantityError.style.display = 'block';
                    isValid = false;
                } else {
                    quantityError.innerHTML = '';
                    quantityError.style.display = 'none';
                }

                // Validation for Number of Units
                if (units === '') {
                    unitsError.innerHTML = 'Please enter a valid number of units.';
                    unitsError.style.display = 'block';
                    isValid = false;
                } else {
                    unitsError.innerHTML = '';
                    unitsError.style.display = 'none';
                }

                // Validation for Description
                if (description === '') {
                    descriptionError.innerHTML = 'Please enter a description.';
                    descriptionError.style.display = 'block';
                    isValid = false;
                } else {
                    descriptionError.innerHTML = '';
                    descriptionError.style.display = 'none';
                }

                // Validation for Status
                if (status === '') {
                    statusError.innerHTML = 'Please select a status.';
                    statusError.style.display = 'block';
                    isValid = false;
                } else {
                    statusError.innerHTML = '';
                    statusError.style.display = 'none';
                }

                // Validation for Category
                if (category === '') {
                    categoryError.innerHTML = 'Please select a category.';
                    categoryError.style.display = 'block';
                    isValid = false;
                } else {
                    categoryError.innerHTML = '';
                    categoryError.style.display = 'none';
                }

                // Validation for Image
                if (image === '') {
                    imageError.innerHTML = 'Please select an image to upload.';
                    imageError.style.display = 'block';
                    isValid = false;
                } else {
                    imageError.innerHTML = '';
                    imageError.style.display = 'none';
                }

                if (!isValid) {
                    event.preventDefault(); // Prevent form submission if validation fails
                }
            });
        </script>

        <!-- plugins:js -->
        <script th:src="@{/admin/assets/vendors/js/vendor.bundle.base.js}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script th:src="@{/admin/assets/vendors/select2/select2.min.js}"></script>
        <script th:src="@{/admin/assets/vendors/typeahead.js/typeahead.bundle.min.js}"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script th:src="@{/admin/assets/js/off-canvas.js}"></script>
        <script th:src="@{/admin/assets/js/hoverable-collapse.js}"></script>
        <script th:src="@{/admin/assets/js/misc.js}"></script>
        <script th:src="@{/admin/assets/js/settings.js}"></script>
        <script th:src="@{/admin/assets/js/todolist.js}"></script>
        <!-- endinject -->
        <!-- Custom js for this page -->
        <script th:src="@{/admin/assets/js/file-upload.js}"></script>
        <script th:src="@{/admin/assets/js/typeahead.js}"></script>
        <script th:src="@{/admin/assets/js/select2.js}"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var productNameInput = document.getElementById("name");
                var productSaleInput = document.getElementById("sale");
                var productPriceInput = document.getElementById("price");
                var productQuantityInput = document.getElementById("quantity");
                var productUnitsInput = document.getElementById("units");
                var productSalePriceInput = document.getElementById("saleprice");
                var productDescriptionInput = document.getElementById("description");
                var productDateInput = document.getElementById("date");
                var errorMessage = document.querySelector(".error-message");


                productNameInput.addEventListener("input", function () {
                    if (productNameInput.value.trim() !== "") {
                        errorMessage.classList.add("hide");
                    } else {
                        errorMessage.classList.remove("hide");
                    }
                });
                productSaleInput.addEventListener("input", function () {
                    if (productSaleInput.value.trim() !== "") {
                        errorMessage.classList.add("hide");
                    } else {
                        errorMessage.classList.remove("hide");
                    }
                });
                productPriceInput.addEventListener("input", function () {
                    if (productPriceInput.value.trim() !== "") {
                        errorMessage.classList.add("hide");
                    } else {
                        errorMessage.classList.remove("hide");
                    }
                });
                productQuantityInput.addEventListener("input", function () {
                    if (productQuantityInput.value.trim() !== "") {
                        errorMessage.classList.add("hide");
                    } else {
                        errorMessage.classList.remove("hide");
                    }
                });
                productUnitsInput.addEventListener("input", function () {
                    if (productUnitsInput.value.trim() !== "") {
                        errorMessage.classList.add("hide");
                    } else {
                        errorMessage.classList.remove("hide");
                    }
                });
                productSalePriceInput.addEventListener("input", function () {
                    if (productSalePriceInput.value.trim() !== "") {
                        errorMessage.classList.add("hide");
                    } else {
                        errorMessage.classList.remove("hide");
                    }
                });
                productDescriptionInput.addEventListener("input", function () {
                    if (productDescriptionInput.value.trim() !== "") {
                        errorMessage.classList.add("hide");
                    } else {
                        errorMessage.classList.remove("hide");
                    }
                });
                productDateInput.addEventListener("input", function () {
                    if (productDateInput.value.trim() !== "") {
                        errorMessage.classList.add("hide");
                    } else {
                        errorMessage.classList.remove("hide");
                    }
                });
            });
        </script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
        
         <script>
                    $(document).ready(function () {
                        $('.summernote').summernote({
                            height: 200, // Chiều cao của trình soạn thảo
                            minHeight: 100, // Chiều cao tối thiểu
                            maxHeight: 400, // Chiều cao tối đa
                            focus: true, // Tự động focus khi khởi tạo
                            toolbar: [
                                ['style', ['style']],
                                ['font', ['bold', 'italic', 'underline', 'clear']],
                                ['para', ['ul', 'ol', 'paragraph']],
                                ['insert', ['link', 'picture', 'video']],
                                ['view', ['fullscreen', 'codeview', 'help']]
                            ] // Các nút chức năng trong toolbar
                        });
                    });
        </script>

    </body>
</html>
