<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Bookstore | Contact Us</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/home/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/home/css/global.css}" rel="stylesheet">
        <link th:href="@{/home/css/contact.css}" rel="stylesheet">
        <link th:rel="stylesheet" type="text/css" th:href="@{/home/css/font-awesome.min.css}" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap" rel="stylesheet"> 
        <script th:src="@{/home/js/jquery-2.1.1.min.js}"></script>
        <script th:src="@{/home/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .top_1r {
                padding-top: 10px;
            }

            .big {
                font-size: 18px;
            }

            .mgt {
                margin-top: 5px;
            }

            .button {
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                color: #fff;
                background-color: #5bc0de;
                border-color: #46b8da;
            }

            .button:hover {
                background-color: #31b0d5;
                border-color: #269abc;
            }

            .button.mgt {
                margin-top: 10px;
                margin-left: 10px;
            }

        </style>
    </head>
    <body>
        <section id="top"></section>
            <div class="container">
                <div class="row">
                    <div class="top_1 clearfix">
                        <div class="col-sm-4">
                            <div class="top_1m text-center clearfix">
                                <h3 class="mgt"><a th:href="@{/}">
                                        <img alt="abc" th:src="@{/home/img/logo.jpg}" style="width: 20%; border-radius: 50%"> <span class="col_3">Book </span><span class="col_6">Store</span></a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="top_1l clearfix">
                                <p class="mgt font_16 text-center"><i class="fa fa-map col_1"></i> <span class="col_6">Address: </span>Số 391A, Nam Kỳ Khởi Nghĩa, Q.3, Hồ Chí Minh</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="top_1r text-right clearfix">
                                <div th:if="${username != null}">
                                    <div th:if="${session.status == 'Not Activated'}">
                                        <h6 class="big mgt">
                                            <span class="error-message">Your account is not activated. Please contact support.</span>
                                        </h6>
                                    </div>
                                    <div th:if="${session.status != 'Not Activated'}">
                                        <h6 class="big mgt">Welcome, <span th:text="${username}"></span>
                                            <a class="button mgt" th:href="@{/userdetails/{id}(id=${session.user})}">Profile</a>
                                            <a class="button mgt" th:href="@{/logout}">Logout</a>
                                        </h6>
                                    </div>
                                </div>
                                <div th:if="${username == null}">
                                    <h6 class="big mgt">
                                        <a class="button mgt" th:href="@{/login}">Login</a>
                                        <a class="button mgt" th:href="@{/register}">Register</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="header" class="clearfix cd-secondary-nav">
            <nav class="navbar nav_t">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img alt="abc" th:src="@{/home/img/logo.jpg}" style="width: 25%; border-radius: 50%"><span class="col_3">Book</span>  <span class="col_6">Store</span></a>                    </div>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">

                            <li><a class="m_tag" th:href="@{/}">Home</a></li>
                            <li><a class="m_tag" th:href="@{/about}">About</a></li>
                            <li><a class="m_tag" th:href="@{/products}">Books</a></li>
                            <li><a class="m_tag" th:href="@{/blog}">News</a></li>

                            <li><a class="m_tag active_tab" th:href="@{/contactus}">Contact Us</a></li>
                            <li class="dropdown">
                                <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Pages<span class="caret"></span></a>
                                <ul class="dropdown-menu drop_3" role="menu">
                                    <li><a th:href="@{/mycart}">Shopping Cart</a></li>
                                    <li th:if="${username != null}"><a class="border_none" th:href="@{/purchasehistory}">Product History</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">

                            <li><a class="m_tag" href="#aboutModal" data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i></a></li>

                            <li class="dropdown">
                                <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-shopping-bag"></i></a>
                                <ul class="dropdown-menu drop_1" role="menu">
                                    <li>
                                        <div class="drop_1i clearfix">
                                            <div class="col-sm-6">

                                            </div>
                                            <div class="col-sm-6">
                                                <div class="drop_1il text-right clearfix"><h5 class="mgt"><a href="cart.html">VIEW CART</a></h5></div>
                                            </div>
                                        </div>
                                        <span th:each="p: ${pcart}">
                                            <span th:if="${username == p.userId.username and p.status != true}">
                                                <div class="drop_1i1 clearfix">
                                                    <div class="col-sm-6" style="margin-top: 8px">
                                                        <div class="drop_1i1l clearfix"><h6 class="mgt bold"><a href="#" th:text="${p.productid.productname}"></a> <br><span>$<span class="normal col_2" th:text="${p.productid.sale}"></span> </span><span style="font-size: 14px;">quantity:<span th:text="${p.quantity}"></span></h6></div>
                                                    </div>
                                                    <div class="col-sm-4" style="margin-top: 8px">
                                                        <div class="drop_1i1r clearfix"><a href="#"><img th:src="@{'images/'+${p.productid.image}}" class="iw" alt="abc"></a></div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="drop_1i1l text-right clearfix"><h6 class="mgt bold"> <span><a th:href="@{/deletecart/{id}(id = ${p.id})}"><i class="fa fa-remove"></i></a></span></h6></div>
                                                    </div>
                                                </div>
                                            </span>
                                        </span>
                                        <div class="drop_1i2 clearfix">
                                            <div class="col-sm-6">
                                                <div class="drop_1il clearfix"><h5 class="mgt">TOTAL</h5></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="drop_1il text-right clearfix"><h5 class="mgt">$<span th:text="${totlal}"></span></h5></div>
                                            </div>
                                        </div>
                                        <div class="drop_1i3 text-center clearfix">
                                            <div class="col-sm-12">
                                                <h5><a class="button" href="/mycart">CHECKOUT</a></h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

        </section>

        <section id="center" class="center_o clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="center_o1 text-center">
                            <h1 class="mgt">Contact Us</h1>
                            <h4><a th:href="@{/}">Home</a> / Contact Us</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact" class="clearfix">
            <div class="container">
                <div class="row">
                    <div class="contact_1  clearfix">
                        <div class="col-sm-8">
                            <div class="contact_1lm clearfix">
                                <div class="contact_1l clearfix">
                                    <h4 class="col_1 mgt">Get in touch</h4>
                                    <h3>Write Us A Message</h3>
                                    <form th:object="${feedback}" th:action="@{/admin/feedbacks/save}" method="post">
                                        <div class="checkout_1l1 clearfix">
                                            <div class="col-sm-6 space_left">
                                                <h5>Sender <span class="col_3">*</span></h5>
                                                <input class="form-control"  type="text" id="sender" name="sender" th:field="*{sender}" placeholder="please enter email" required/><br/>
                                            </div>
                                            <div class="col-sm-6 space_left">
                                                <h5>Your Subjects <span class="col_3">*</span></h5>
                                                <input class="form-control"  type="text" id="subject" name="subject" th:field="*{subject}" placeholder="please enter Subject" required/><br/>
                                            </div>
                                        </div>
                                        <div class="checkout_1l1 clearfix">
                                            <div class="col-sm-12 space_left">
                                                <h5>Your Message <span class="col_3">*</span></h5>
                                                <textarea class="form-control form_1"  id="content" name="content" th:field="*{content}" placeholder="please enter Content" required></textarea><br/>
                                                <h6> <button  type="submit">Submit</button></h6>
                                            </div>
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="contact_1rm clearfix">
                                <div class="contact_1r1 mgt clearfix">
                                    <span><i class="fa fa-phone"></i></span>
                                    <h4>Call us Now:</h4>
                                    <p>+84 (287) 300 5654</p>
                                    <p class="mgt">+84 (287) 300 5654</p>
                                </div>
                                <div class="contact_1r1 clearfix">
                                    <span><i class="fa fa-phone"></i></span>
                                    <h4>Email:</h4>
                                    <p><a href="#">bookstore@gmail.com</a></p>
                                    <p class="mgt">bookstore@gmail.com</p>
                                </div>
                                <div class="contact_1r1 clearfix">
                                    <span><i class="fa fa-phone"></i></span>
                                    <h4>Our Address:</h4>
                                    <p>Số 391A, Nam Kỳ Khởi Nghĩa,</p>
                                    <p>Q.3, Hồ Chí Minh</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="contact_2 clearfix">
                        <div class="col-sm-12">
                            <iframe src="https://maps.google.com/maps?q=10.791405010132891,%20106.6827570924634&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" style="border:0; width:100%; height:500px;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer_1 clearfix">
                        <div class="col-sm-4">
                            <div class="footer_1l clearix">
                                <h4>GALLERY</h4>
                                <div class="footer_1li clearfix">
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/footer1.jpg}" height="70px" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/footer2.jpg}" height="70px" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/footer3.jpg}" height="70px" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer_1li clearfix">
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/footer4.jpg}" height="70px" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/footer5.jpg}" height="70px" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 space_left col-xs-4">
                                        <div class="footer_1lii clearfix">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz">
                                                    <a href="#"><img th:src="@{/home/img/footer6.jpg}" height="70px" class="iw" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer_1m clearix">
                                <h4>QUICK LINKS</h4>
                                <div class="footer_1mi clearfix">
                                    <div class="col-sm-6 space_left col-xs-6">
                                        <div class="footer_1mil clearfix">
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Our Categories</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">New Products</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Top Sellers</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">About Us</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Help</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">New Authors</a></h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 space_right col-xs-6">
                                        <div class="footer_1mil clearfix">
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">All Products</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Privacy Policy</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Terms of Service</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Forums</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Download</a></h6>
                                            <h6><i class="fa fa-caret-right col_1"></i> <a href="#">Other</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer_1r clearix">
                                <h4>GET IN TOUCH</h4>
                                <p class="font_16"><i class="fa fa-map col_1"></i> Address: Số 391A, Nam Kỳ Khởi Nghĩa, Q.3, Hồ Chí Minh</p>
                                <p class="font_16"><i class="fa fa-phone col_1"></i> <a href="#">+84 (287) 300 5654</a></p>
                                <p class="font_16"><i class="fa fa-phone col_1"></i> <a href="#">bookstore@gmail.com</a></p>
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer_2 text-center clearfix">
                        <div class="col-sm-12">
                            <p class="mgt">© 2024 Your Website Bookstore Management System <a class="col_1" th:href="@{/}">Book Store</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="input-group clearfix">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                /*****Fixed Menu******/
                var secondaryNav = $('.cd-secondary-nav'),
                        secondaryNavTopPosition = secondaryNav.offset().top;
                navbar_height = document.querySelector('.navbar').offsetHeight;

                $(window).on('scroll', function () {
                    if ($(window).scrollTop() > secondaryNavTopPosition + navbar_height) {
                        secondaryNav.addClass('is-fixed');
                        document.body.style.paddingTop = navbar_height + 'px';

                    } else {
                        secondaryNav.removeClass('is-fixed');
                        document.body.style.paddingTop = '0'
                    }
                });

            });
        </script>

    </body>
</html>
